$primary-color: #007ac0;
$light-bg: #ecf1f4;
$dark-blue: #0d6084;
$grey: #e9e9ea;

$body-text-color: #232323;
$heading-text-color: $primary-color;
$light-text-color: #FFF;

$link-text-color: $dark-blue;


