//——————————————————————————————————————————————————————————————————————————————
// TAAS: Measurements
//——————————————————————————————————————————————————————————————————————————————
$base-unit: 8px;
$max-width: 1200px;

// Footer
$footer-height-xs: 210px;
$footer-height-md: 250px;

// Header
$cd-site-header-height-xs: $base-unit*6;
$cd-site-header-height-md: $base-unit*7.5;
$cd-logo-width: 135px !default;
