.cd-header {
  margin-bottom: $base-unit*2;

  button {
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    border-radius: none;
    box-shadow: none;
    cursor: pointer;
  }

  ul, li {
    list-style: none;
    margin: 0;
  }

  ::-webkit-input-placeholder {
    color: $body-text-color;
    font-style: italic;
  }
  ::-moz-placeholder {
    color: $body-text-color;
    font-style: italic;
  }
  :-ms-input-placeholder {
    color: $body-text-color;
    font-style: italic;
  }
  :-moz-placeholder {
    color: $body-text-color;
    font-style: italic;
  }

  .container {
    &:after {
      content: none;
    }
  }
}

.cd-dropdown {
  position: relative;
}

.cd-dropdown-menu {
  position: absolute;
  z-index: 99;
  background: white;
  width: 100%;
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.25);
  display: none;

  .open & {
    display: block;
  }

  a {
    display: block;
    padding: $base-unit*1.5;
    border-bottom: 1px solid $cd-border-color;
    text-decoration: none;
    color: $body-text-color;
    word-break: break-word;
    transition: background .3s ease;

    &:hover, &:focus {
      background: $primary-bg-color;
      color: $light-text-color;
    }
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

@include media-query(md) {
  .cd-header {
    margin-bottom: $base-unit*3;
  }
}

@include media-query(xl) {
  .cd-header {
    margin-bottom: $base-unit*4;
  }
}
