//
// Common Design Sites Menu ('OCHA Services')
// Button and dropdown with compact list of links to OCHA services.
//
.cd-sites--compact {

  .cd-sites-btn__label {
    @include unhide;
    @include font-size(tiny);
  }
}

.cd-sites-dropdown--compact {
  left: auto; // This is for IE 11.
  left: unset;

  .cd-dropdown-menu {
    position: absolute;
    @include z(dropdown);
    background: white;
    margin: 0;
    padding: 0;
    min-width: 236px;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.25);
    display: none;

    .open & {
      display: block;
    }

    li {
      margin-bottom: 0;
    }

    a {
      display: block;
      padding: $base-unit*1.5;
      border-bottom: 1px solid $border-color;
      text-decoration: none;
      color: $cd-default-text-color;
      word-break: break-word;

      &:hover,
      &:focus {
        background: $primary-bg-color;
        color: $cd-white-text-color;
      }
    }
  }
}
