<div class="blocks-holder">
	{% for vocab in site.vocabs %}
	<div class="block">
		<h2 class="block__heading">{{ vocab.display-title }}</h2>
		<p class="block__status">{{ vocab.status }}</p>
		{{vocab.content}}
		{% if vocab.json-url %}
		<p>
			<a class="block__download" href="{{ vocab.json-url }}">
				Download {{ vocab.title }} JSON file
			</a>
		</p>
		{% endif %}
		{% if vocab.gss-url %}
		<p>
			<a class="block__download" href="{{ vocab.gss-url }}">
				{{ vocab.title }} spreadsheet
			</a>
		</p>
		{% endif %}
	</div>
	{% endfor %}
</div>
