<a href="#main" class="skip-link">Skip to content</a>
<header class="cd-header" role="banner">
  <div class="cd-global-header">
    <div class="cd-container cd-global-header__inner">
      <div class="cd-sites cd-sites--compact">
        <button type="button" class="cd-sites-btn cd-global-header__dropdown-btn" data-toggle="dropdown" id="cd-sites-dropdown-toggle" aria-expanded="false">
          <!-- <span class="cd-sites-btn__logo" aria-hidden="true"></span> -->
          <span class="cd-sites-btn__label">Related platforms</span>
          <span class="icon-arrow-down" aria-hidden="true"></span>
        </button>
        <div class="cd-global-header__dropdown cd-sites-dropdown--compact cd-dropdown" role="menu" id="cd-sites-dropdown" aria-labelledby="cd-sites-dropdown-toggle">
          <ul class="cd-dropdown-menu" role="menu" id="cd-related-platforms" aria-labelledby="cd-related-platforms-toggle">
            <li><a href="https://fts.unocha.org/">Financial Tracking Service</a></li>
            <li><a href="https://humdata.org/">Humanitarian Data Exchange</a></li>
            <li><a href="https://humanitarian.id/">Humanitarian ID</a></li>
            <li><a href="https://humanitarianresponse.info/">HumanitarianResponse.info</a></li>
            <li><a href="https://reliefweb.int/">ReliefWeb</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="cd-site-header">
    <div class="cd-container cd-site-header__inner">
      <a href="{{ site.baseurl }}/" class="cd-site-logo">
        <span class="cd-sr-only">OCHA</span>
      </a>
    </div>
  </div>
</header>
