.blocks-holder {
	margin: $base-unit*4 0;	
}

.block {
	background: $light-bg;
	border-top: 4px solid $dark-blue;
	padding: $base-unit*2;
	margin-bottom: $base-unit*2;

	a {
		display: block;
		height: $base-unit*3;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	} 

	p:last-child {
		margin-bottom: 0;
	}
	
}

.block__heading {
	text-transform: uppercase;
	color: $dark-blue;
	@include font-size($medium-font-size);
	margin-bottom: $base-unit/2;
}

.block__status {
	color: $dark-blue;
	font-weight: bold;
}

.block__download {
	font-style: italic;
}


@include media-query(sm) {

	.blocks-holder {
		display: flex;
		flex-wrap: wrap;

		.no-flexbox & {
			overflow: auto;
		}
	}

	.block {
		width: 48%;
		margin-left: 4%;
		margin-bottom: $base-unit*4;
		padding: $base-unit*3 $base-unit*4;

		&:nth-child(odd) {
			margin-left: 0;
		}

		.no-flexbox & {
			float: left;
			height: 300px;
			overflow: scroll;
		}

	}

}
