/* MailChimp Form Embed Code - Classic - 12/17/2015 v10.7 */
#mc_embed_signup form {
	display:block; position:relative;
}
#mc_embed_signup h2 {
	margin: $base-unit*2 0;
}
#mc_embed_signup input {
	border: 1px solid $input-border-color;
	@include font-size($base-font-size);
}
#mc_embed_signup input[type=checkbox]{-webkit-appearance:checkbox;}
#mc_embed_signup input[type=radio]{-webkit-appearance:radio;}
#mc_embed_signup input:focus {border-color:#333;}
#mc_embed_signup .button {
	clear:both;
	background-color: white;
	border: 1px solid $primary-color;
  transition: all 0.23s ease-in-out 0s;
  color: $primary-color;
  cursor: pointer;
  display: inline-block;
  @include font-size($base-font-size);
  height: $base-unit*5;
	margin: 0 $base-unit/2 $base-unit 0;
  padding: 0 $base-unit*3;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  width: auto;
  text-transform: uppercase;

  &:focus, &:hover {
  	background-color: $primary-color;
  	color: white;
  }
}

#mc_embed_signup .small-meta {
	@include font-size($small-font-size);
}
#mc_embed_signup .nowrap {
	white-space:nowrap;
}
#mc_embed_signup .mc-field-group {clear:left; position:relative; width:96%; padding-bottom:3%; min-height:50px;}
#mc_embed_signup .size1of2 {clear:none; float:left; display:inline-block; width:46%; margin-right:4%;}
* html #mc_embed_signup .size1of2 {margin-right:2%; /* Fix for IE6 double margins. */}
#mc_embed_signup .mc-field-group label {
	display:block;
	margin-bottom: $base-unit/2;
}
#mc_embed_signup .mc-field-group input {
	display:block;
	width:100%;
	padding: $base-unit 0;
	text-indent:2%;
}
#mc_embed_signup .indicates-required {text-align:right; font-size:11px; margin-right:4%;}
#mc_embed_signup .asterisk {color:$error-color; font-size:150%; font-weight:normal; position:relative; top:5px;}
#mc_embed_signup .clear {clear:both;}

#mc_embed_signup .mc-field-group.input-group ul {
	margin:0;
	padding: $base-unit/2 0;
	list-style:none;
}
#mc_embed_signup .mc-field-group.input-group ul li {display:block; padding:3px 0; margin:0;}
#mc_embed_signup .mc-field-group.input-group label {display:inline;}
#mc_embed_signup .mc-field-group.input-group input {display:inline; width:auto; border:none;}

#mc_embed_signup div#mce-responses {

}
#mc_embed_signup div.response {
	margin: 0 0 $base-unit*2 0;
	font-weight:bold;
}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#529214; display:none;}
#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}

#mc-embedded-subscribe {clear:both; width:auto; display:block; margin:1em 0 1em 5%;}
#mc_embed_signup #num-subscribers {font-size:1.1em;}
#mc_embed_signup #num-subscribers span {padding:.5em; border:1px solid #ccc; margin-right:.5em; font-weight:bold;}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
	display:inline-block;
	margin: 0;
	padding: 0;
	font-weight: normal;
	background-color:rgba(255,255,255,0.85);
	z-index:1;
	color:$error-color;
}
#mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {
	border-color: $error-color;
}
