//——————————————————————————————————————————————————————————————————————————————
// TAAS: base defaults
//——————————————————————————————————————————————————————————————————————————————
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, input {
  font-size: 62.5%;
}

html, body {
  height: 100%;
}

body {
  font-family: sans-serif;
  font-weight: 300;
  color: $body-text-color;
  line-height: 1.5;
  background: white;
}

a {
  color: $link-text-color;

  &:hover, &:focus {
    color: $active-link-text-color;
    text-decoration: none;
  }
}

ol, ul {
  list-style: initial;
  margin-left: $base-unit*3;
}

img {
  max-width: 100%;
  height: auto;
}
